apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-test-application
  namespace: monitoring
spec:
  project: project-2 #project-2
  source:
    repoURL: 'https://github.com/vkazmin1/kustomize-example.git'
    targetRevision: main
    path: overlays/dev/app
  destination:
    server: https://kubernetes.default.svc
    namespace: namespace-2
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
